{% extends 'genres/base.html' %}

{% block content %}
    <div class="games">
        <h1>Genres >> {{ game.genre }}</h1>
        {% for game in games %}
            <div class="game">
                <h1><a href="{% url 'games:game' game.id %}">{{ game.name }}</a></h1>
                <p>{{ game.description }}</p>
                <div class="platforms-supported">
                    <p>
                        {% for platform in game.platforms.all %}
                            {{ platform.name }}
                        {% endfor %}
                    </p>
                </div>
                <p>{{ game.price }}</p>
                <div class="tags">
                    <p>
                        {% for tag in game.tags.all %}
                            {{ tag.name }}
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}