{% extends 'tags/base.html' %}

{% block content %}
    <div class="home cover" style="background-image: url('http://az616578.vo.msecnd.net/files/2016/08/08/6360623745264558091520775165_games.jpg'); background-size: cover;">
      <div class="overlay">
        <h1 class="name">Tags >> {{ tag }}</h1>
      </div>
    </div>

    <div class="main home">
      <h1>Games in {{ tag }}:</h1>
      <div class="featured-games">
        <ul class="games">
          {% for game in games %}
          <a href="{% url 'games:game' game.id %}">
            <li class="game" style="background-image: url('/media/{{ game.image }}'); background-size: cover;">
              <div class="overlay">
                <span class="genre">{{ game.genre }}</span>
                <h2>
                  {{ game.name }}
                  <div>
                    ${{ game.price }}
                  </div>
                  <div>
                    {% for tag in game.tags.all %}
                      <div>{{ tag.name }}</div>
                    {% endfor %}
                  </div>
                  <p>{{ game.description }}</p>
                  <span>on
                      {% for platform in game.platforms.all %}
                        {{ platform.name }}
                      {% endfor %}
                  </span>
                </h2>

              </div>
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="footer home">
      <p>Copyright &copy; 2016 SE GAMING. All rights reserved. Powered by Group J.</p>
    </div>

    <!-- <div class="games">
        {% for game in games %}
            <div class="game">
                <h1>
                    <a href="{% url 'games:game' game.id %}">
                        {{ game.name }}
                         <img class="small-image" src="/media/{{ game.image }}" alt="{{ game.name }}">
                    </a>
                </h1>
                <p>{{ game.description }}</p>
                <div class="platforms-supported">
                    <p>
                        {% for platform in game.platforms.all %}
                            {{ platform.name }}
                        {% endfor %}
                    </p>
                </div>
                <p>{{ game.genre }}</p>
                <p>${{ game.price }}</p>
                <div class="tags">
                    <p>
                        {% for tag in game.tags.all %}
                            {{ tag.name }}
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div> -->
{% endblock %}
